<% provide(:title, "商店") %>


<div class="row">
  <h1>商店列表</h1>
  <div class="col-md-4">
  </div>
<div class="col-md-4">
    <a class="btn btn-primary btn-block" href="owner/stores/new" role="button">新增商店</a>
</div>
</div>
<br></br>
<div class="row">
<div class="col-md-2">
</div>

<div class="col-md-8">
  <table class="table table-striped">
    <tbody>
      <% @stores.reload %>
      <% @stores.each do |store| %>
        <tr>
          <td><div class = "item"><%= store.id %></div></td>
          <td><div class = "item"><%= image_tag(store.image.thumb.url, alt: store.name, class: "gravatar") %></div></td>
          <td><div class = "item"><%= link_to store.name, store_path(store.id) %></div></td>
          <td><div class = "item"><%= link_to 'Edit', edit_owner_store_path(store) %></div></td>
          <td><div class = "item"><%= link_to 'Destroy', owner_store_path(store), method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class = "center">
    <%= will_paginate @stores, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<div class="col-md-2">
</div>
</div>
