<% provide(:title, "商店") %>
<h1>商店</h1>


<div class="row">
<div class="col-md-2">
</div>

<div class="col-md-8">
  <table class="table table-striped">
    <tbody>
      <% @stores.reload %>
      <% @stores.each do |store| %>
        <tr>
          <td><div class = "item"><%= store.id %></div></td>
          <td><div class = "item"></div></td>
          <td><div class = "item"><%= link_to store.name, store_path(store.id)  %></div></td>
          <td><div class = "item"><%= link_to 'Edit', edit_owner_store_path(store) %></div></td>
          <td><div class = "item"><%= link_to 'Destroy', owner_store_path(store), method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class = "center">
    <%= will_paginate @stores, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<div class="col-md-2">
</div>
</div>
