<% provide(:title, "會員訂單管理") %>
<h1>會員訂單管理</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <tbody>
        <td><div class = "item">訂購日期</div></td>
        <td><div class = "item">訂單編號</div></td>
        <td><div class = "item">會員編號</div></td>
        <td><div class = "item">處理進度</div></td>
        <td><div class = "item">訂單金額</div></td>
        <td><div class = "item">訂單地址</div></td>
        <td><div class = "item">訂單資料檢視</div></td>
        <% @orders.reload %>
        <% @orders.each do |order| %>
          <tr>
            <td><div class = "item"><%= order.created_at.localtime %></div></td>
            <td><div class = "item"><%= order.id %></div></td>
            <td><div class = "item"><%= order.user_id %></div></td>
            <td><div class = "item">
              <%= form_for order, url: admin_order_path(order), remote: true do |f| %>
              <%= f.select :status, [["訂單尚未送出", nil], ["訂單已送出", "received"], ["出貨準備中", "processing"], ["運送中", "shipping"], ["完成", "complete"]], {},
                           :onchange => "$(this.form).submit();", class: 'form-control' %>
              <%= f.hidden_field :order_id, value: order.id %>
              <% end %>
            </div></td>
            <td><div class = "item"><%= order.total_price %></div></td>
            <td><div class = "item"><%= order.user.address %></div></td>
            <td><div class = "item"><%= link_to "檢視", admin_order_path(order.id) %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class = "center">
      <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
