<h1>Shipping#show</h1>

<div class = "item"><%= event_code.event.id %></div>
<div class = "item"><%= event_code.event.name %></div>
<div class = "item">For any purchase above $<%= event_code.minimum_spending %>, <%= event_code.discount%>% off!</div>
<div class = "item"><%= event_code.event.description %></div>
