<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <tbody>
        <td><div class = "item">商品名稱</div></td>
        <td><div class = "item">數量</div></td>
        <td><div class = "item">商品價格</div></td>
        <td><div class = "item">商品小計</div></td>
        <% order.order_items.each do |order_item| %>
          <tr>
            <td><div class = "item"><%= order_item.item.name %></div></td>
            <td><div class = "item"><%= order_item.quantity %></div></td>
            <td><div class = "item"><%= order_item.item.price %></div></td>
            <td><div class = "item"><%= order_item.item.price * order_item.quantity %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= render 'carts/total_price_row', this_order: order %>


<div class="row">
  <div class="col-md-2 col-md-offset-10">
      <%= link_to "上一頁", back_path, class: "btn btn-primary" %>
  </div>
</div>
