<div class="well">
  <div class="row">
    <div class="col-md-5">
      <h4><%= item.name %></h4>
    </div>

    <%= form_for order_item, remote: true do |f| %>
      <div class="col-md-2">
        <h4>  單價: NT<% if price_counter(order_item.item) == order_item.item.price %><span style="color: green"><%else%><span style="color: red"><%end%> <%= number_to_currency price_counter(order_item.item) %></span></h4>
      </div>

      <div class="col-md-1">
        <% max = item.quantity < 20 ? item.quantity : 20 %>
        <%= f.select :quantity, options_for_select(1..max, order_item.quantity.to_i), {}, :onchange => "$(this.form).submit();", class: "form-control" %>
        <%= f.hidden_field :item_id, value: item.id %>
      </div>

      <div class="col-md-1">
        <%= link_to "刪除商品", order_item, {
        data: { confirm: "確定要從購物車中刪除 '#{order_item.item.name}' ?" },
        method: :delete, remote: true,
        class: "btn btn-danger" } %>
      </div>

      <div class="col-md-3">
        <h4 class="text-right">商品小計: NT<% if price_counter(order_item.item) == order_item.item.price %><span style="color: green"><%else%><span style="color: red"><%end%><%= number_to_currency price_counter(order_item.item) * order_item.quantity %></span></h4>
      </div>
    <% end %>
  </div>
</div>
