<h1>Item#show</h1>
<p>Find me in app/views/item/show.html.erb</p>

<div class = "item"><%= @item.id %></div>
<div class = "item"><%= @item.name %> FROM <%=@item.store.name%></div>
<div class = "item">$<%= @item.price %></div>
<div class = "item">#:<%= @item.quantity %></div>
<div class = "item"><%= @item.description %></div>
<div><%= image_tag(@item.image.url, alt: @item.name) %></div>



<div>
  <%= render 'tags/list', tags: @item.tags%>
</div>


<p>Find me in app/views/item/show.html.erb</p>
